
<style>
    .flex-column {
        max-width: 260px;
    }
</style>
<style>
    .container {
        background: #f9f9f9;
    }

    img {
        margin: 5px;
    }
</style>
<div class="container">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column">
            <img src="~/Images/WhatsApp Image 2019-10-27 at 20.41.24.jpeg" class="img-fluid">
            <img src="~/Images/WhatsApp Image 2019-10-27 at 20.41.24.jpeg" class="img-fluid">
        </div>
        <div class="d-flex flex-column">
            <img src="~/Images/WhatsApp Image 2019-10-27 at 20.41.24.jpeg" class="img-fluid">
            <img src="~/Images/WhatsApp Image 2019-10-27 at 20.41.24.jpeg" class="img-fluid">
        </div>
        <div class="d-flex flex-column">
            <img src="~/Images/WhatsApp Image 2019-10-27 at 20.41.24.jpeg" class="img-fluid">
            <img src="~/Images/WhatsApp Image 2019-10-27 at 20.41.24.jpeg" class="img-fluid">
        </div>
        <div class="d-flex flex-column">
            <img src="~/Images/fotograf-cekmek-960x420.jpg" class="img-fluid">
            <img src="~/Images/WhatsApp Image 2019-10-27 at 20.41.24.jpeg" class="img-fluid">
        </div>
    </div>
</div>