@{
  
}
<h2>@ViewBag.Title</h2>



<!-- Page Content -->
<div class="container">

    <div class="row">
        <!-- Team Member 1 -->
  
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="https://media.licdn.com/dms/image/C5603AQFB9s38tgHfTA/profile-displayphoto-shrink_200_200/0?e=1580947200&v=beta&t=f9zVVXwNFy9WLQdwbrVwkwtiSiI10VYxUT57J5eEOAU" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Team Member</h5>
                        <div class="card-text text-black-50">Software Developer</div>
                    </div>
                </div>
            </div>
        
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://0.academia-photos.com/40105247/18783897/18744204/s200__a_lar.bing_l.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Software Developer</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://media.licdn.com/dms/image/C4E03AQFnjejcR_ytbQ/profile-displayphoto-shrink_200_200/0?e=1580947200&v=beta&t=HWwOCubXSVok2McuTlWF3nimJaZoVNzGsn5YLwy-5S0" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Software Developer</div>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://media.licdn.com/dms/image/C5603AQH3EXocKIOqng/profile-displayphoto-shrink_200_200/0?e=1580947200&v=beta&t=KQs7MtwPM-FxyNanhPmEsOewEuYjfw27zhgmaYv63VM" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Team Member</h5>
                    <div class="card-text text-black-50">Software Developer</div>
                </div>
            </div>
        </div>

    </div>
</div>