@model PortfolioBook.Models.Project

@{
    ViewBag.Title = "AddProject";
}

<h2>AddProject</h2>
@using (Html.BeginForm("AddProject", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ProjectName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control" })
        </div>
    </div>
    <input type="submit" />
}

