@model List<PortfolioBook.Models.Project>

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>
@foreach (var item in Model)
{
    if (item.Confirmed == true)
    {
        @Html.ActionLink(item.ProjectName, "Project", new { id = item.ProjectID }, new { @class = "btn btn-primary" })
    }
}
<a href="@Url.Action("AddProject","Home")" class="btn btn-success">Proje Ekle</a>